.help
  %p URL schemes
  %ul
    %li
      = link_to '?date=2013-10-05', '?date=2013-10-05'
    %li
      = link_to '?from=2013-10-05&to=2013-10-10', '?from=2013-10-05&to=2013-10-10'

%figure.map{ :id => 'map', 'data-geojson' => @geodata_json }
