- content_for :body_classes, 'user-edit'

%ul.app-list
  - if valid_moves_access_token?(current_user.moves_access_token)
    %li.complete Moves is connected
  - else
    %li.incomplete= link_to 'Connect with Moves', @moves_authorize_uri
    
  - if valid_instagram_access_token?(current_user.instagram_access_token)
    %li.complete Instagram is connected 
  - else
    %li.incomplete= link_to 'Connect with Instagram', @instagram_authorize_uri

  %li= link_to 'Manage Texts', new_text_path
