- content_for :body_classes, 'user-edit'

.intro-map

.authorized-apps
  %ul.app-list
    - if @moves_is_connected
      %li.complete Connect with Moves
      %li= link_to 'View the map', day_path(Date.today - 1)
    - else
      %li.incomplete= link_to 'Connect with Moves', @moves_authorize_uri
