- content_for :body_classes, 'user-edit'

.authorized-apps
  %ul.app-list
    - if @moves_is_connected
      %li.complete Connect with Moves
    - else
      %li.incomplete= link_to 'Connect with Moves', @moves_authorize_uri
      
    - if @instagram_is_connected
      %li.complete Connect with Instagram
    - else
      %li.incomplete= link_to 'Connect with Instagram', @instagram_authorize_uri

    %li= link_to 'Upload texts', new_text_path

    - if @moves_is_connected and @instagram_is_connected
      %li= link_to 'Go', day_path(Date.today - 1)
