.intro-map
- if current_user.moves_access_token
  = link_to 'View the map', day_path(Date.today - 1), class: 'view-map'
.authorized-apps
  %ul.app-list
    - if current_user.moves_access_token.nil?
      %li
        = link_to 'Connect with Moves', @moves_authorize_uri
    - else
      %li.complete Connect with Moves
