.logo-screen.active
  %h1 keepsakes
  = link_to 'Your story is here', '#'

.features
  %span Keepsake creates an automatic journal from the apps you already use.
  %span Keepsake brings the information from these apps together to uncover the story that was already there.
  = link_to 'Show me', '#'

.sign-up-flow
  %ol.connections
    %li
      %span Connect Moves
