.logo-screen.active
  %h1 keepsake
  = link_to 'Your story is here', '#'

.features
  %span Keepsake creates an automatic journal from the apps you already use.
  %span Keepsake brings the information from these apps together to uncover the story that was already there.
  = link_to 'Show me', '#'

.sign-up-flow
  %form
    %input{ type: 'email', placeholder: 'youremail@gmail.com' }
    %input{ type: 'password', placeholder: 'password' }
    %input{ type: 'button', value: 'Register' }
    .confirm
      %h4 Great, you're registered! Now connect some apps to get started...

  %ol.connections
    %li
      %span Connect Moves
    %li
      %span Connect Instagram
    %li
      %span Connect Rdio
    %li
      %span Connect iDoneThis
  = link_to '#', class: 'success' do
    %span Start browsing your journal &rarr;
