.meta.music
  .gallery
    .item
      = image_tag('music1.jpg')
      .detail
        %span.album Lanterns — Son Lux
        %ol
          %li.song Alternate World
          %li.song No Crimes
          %li.song No Crimes
          %li.song No Crimes

    .item
      = image_tag('music2.jpg')
      .detail
        %span.album The Grand Budapest Hotel (Original Soundtrack) — Various Artists
        %ol
          %li.song Last Will And Testament
          %li.song The Linden Tree
          %li.song Last Will And Testament
          %li.song Last Will And Testament
