.meta.music
  .gallery
    .item
      = image_tag('music1.jpg')
      .detail
        %span.album Lanterns
        %span.artist Son Lux
        %span.song Alternate World
        %span.song No Crimes
        %span.song No Crimes
        %span.song No Crimes

    .item
      = image_tag('music2.jpg')
      .detail
        %span.album The Grand Budapest Hotel (Original Soundtrack
        %span.artist Various Artists
        %span.song Last Will And Testament
        %span.song The Linden Tree
        %span.song Last Will And Testament
        %span.song Last Will And Testament
