.meta.photos
  .gallery
    .item
      = image_tag('ig1.jpg')
    .item
      = image_tag('ig2.jpg')
    .item
      = image_tag('ig3.jpg')
    .item
      %video{ 'src' => '/assets/vid1.m4v', 'autoplay' => 'true', 'loop' => 'true' }
      .detail
        %span.desc @aaron10buuren and @jillianbass seesawing
    .item
      = image_tag('ig4.jpg')
      .detail
        %span.desc Good mooooorning Ryder
