.meta.texts
  .gallery
    - @texts.group_by(&:contacts).each do |contacts, texts|
      %ol.item
        %span.contacts= contacts
        - texts.each do |t|
          %li{ class: "#{t.sent_received}" }
            %span.message= t.timestamp
            %span.message= t.message
    
