.clearance.password-reset
  %h2 Reset password
  %p Enter your email to be emailed a link to reset your password.

  = form_for :password, :url => passwords_path do |form|
    = form.text_field :email, type: 'email', placeholder: 'email'
    = form.submit
