.map-today {
  background: $ground-color;
  @include position(absolute, 0px 0px 0px 0px);
  @include transform(scale(1) translateY(0) translateX(0));
  @include transition(.3s);
  width: 100%;
  z-index: 1;

  &.recessed {
    @include transform(translate3d(0, 0, -30vw));
  }

  &.down {
    @include transform(translate3d(0, 25%, -30vw));
  }

  &.up {
    @include transform(translate3d(0, -25%, -30vw));
  }

  &.tilt-up {
    @include transform(rotateX(5deg));
  }

  &.tilt-down {
    @include transform(rotateX(-5deg));
  }
}

.map-yesterday, .map-tomorrow {
  background: url(anonymous-map.png);
  @include position(absolute, 0px 0px 0px 0px);
  @include transform(translate3d(-110%, 0, 0));
  @include transition(.3s);

  &.recessed {
    @include transform(translate3d(-110%, 0, -30vw));
  }

  &.down {
    @include transform(translate3d(-110%, 25%, -30vw));
  }

  &.up {
    @include transform(translate3d(-110%, -25%, -30vw));
  }
}

.map-tomorrow {
  @include transform(translate3d(110%, 0, 0));
  
  &.recessed {
    @include transform(translate3d(110%, 0, -30vw));
  }

  &.down {
    @include transform(translate3d(110%, 25%, -30vw));
  }

  &.up {
    @include transform(translate3d(110%, -25%, -30vw));
  }
}
