div.meta {
  @include align-items(center);
  @include close-cursor;
  @include display(flex);
  @include flex-wrap(wrap);
  opacity: 0;
  @include perspective($perspective-amount);
  @include position(absolute, 0px 0px 0px 0px);
  @include transition;
  z-index: -1;

  &.processed {
    z-index: 4;
    opacity: 1;
  }  

  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: block;
    float: left;
    width: 33.33%;

    img {
      display: block;
      max-width: 100%;
    }
  }
}

.journal {
  background: rgba(0, 0, 0, .5);
  color: #fff;
  font-family: $serif;
  font-size: 2vw;
  line-height: 1.4;
  padding: 0 20%;

  article {
    max-height: 80vh;
    overflow-y: scroll;
  }

  p {
    margin: 0;
  }

  p + p {
    text-indent: 1em;
  }
}

.marker-detail {
  background: rgba(0, 0, 0, .5);

  h2 {
    @include align-self(flex-start);
    color: #fff;
    @include flex(1 100%);
    font-family: $serif;
    font-size: 6vh;
    margin: 25vh 0 0;
    text-align: center;

    &:hover {
      cursor: default;
    }
  }

  .item {
    @include position(absolute, 50% 0 0 50%);
    z-index: -1;

    &:hover {
      .detail {
        opacity: 1;
      }
    }

    &:hover, &.ui-draggable-dragging {
      box-shadow: 0 10px 20px rgba(0, 0, 0, .15);
      cursor: pointer;
      z-index: 4;
    }

    &.image, &.video {
      width: 30vw;
    }

    &.music {
      width: 20vw;
    }

    &.time {
      @include align-items(center);
      background: #000;
      border-radius: 50%;
      color: #fff;
      @include display(flex);
      @include flex-wrap(wrap);
      height: 15vw;
      padding: 3rem;
      width: 15vw;

      span {
        display: block;
      }
    }

    .detail {
      @include align-items(center);
      background: rgba(0, 0, 0, .6);
      color: #fff;
      @include display(flex);
      @include flex-wrap(wrap);
      opacity: 0;
      padding: 3rem;
      @include position(absolute, 0px 0px 0px 0px);
      @include transition;

      span {
        display: block;
        width: 100%;
      }
    }

    img, video {
      display: block;
      width: 100%;
    }
  }
}
