div.meta {
  @include align-items(center);
  @include close-cursor;
  @include display(flex);
  @include flex-wrap(wrap);
  opacity: 0;
  @include position(absolute, 0px 0px 0px 0px);
  @include transition;
  z-index: -1;

  &.processed {
    z-index: 4;
    opacity: 1;
  }  

  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: block;
    float: left;
    width: 33.33%;

    img {
      display: block;
      max-width: 100%;
    }
  }
}

.journal {
  background: rgba(0, 0, 0, .5);
  color: #fff;
  font-size: 2vw;
  padding: 0 20%;

  article {
    max-height: 80vh;
    overflow-y: scroll;
  }

  p {
    margin: 0;
  }

  p + p {
    text-indent: 1em;
  }
}

.detail {
  background: rgba(0, 0, 0, .5);

  img, video {
    @include position(absolute, 0 0 0 0);
    @include transition;
    z-index: -1;

    &:hover {
      cursor: pointer;
      @include transform(scale(1.1));
      z-index: 4;
    }
  }

  img {
    &:nth-of-type(1) {
      width: 35vw;
      top: 10%;
      left: 10%;
    }

    &:nth-of-type(2) {
      width: 35vw;
      right: 10%;
      bottom: 10%;
    }

    &:nth-of-type(3) {
      width: 20vw;
      left: 15%;
      bottom: 15%;
    }    

    &:nth-of-type(4) {
      bottom: 15%;
      left: 40%;
      width: 20vw;
    }
  }

  video {
    right: 5%;
    top: 15%;
    width: 45vw;
  }

  h2 {
    color: #fff;
    @include flex(1 100%);
    font-size: 6vh;
    margin: 0;
    text-align: center;
  }

  p {
    color: #fff;
    @include flex(1 50%);
    font-size: 4vh;
    margin: 0;
    text-align: center;
  }
}
