.today-text {
  @include animation(today-intro 2s);
  @include animation-fill-mode(forwards);
  @include centered-text;
  @include user-select(none);
}

.yesterday-link, .tomorrow-link, .detail-previous, .detail-next {
  color: rgb(255, 255, 255);
  display: block;
  font: bold 2.5vw/9vw $sans;
  margin: -4.5vw 0 0;
  @include position(absolute, 50% 0 0 0);
  text-decoration: none;
  @include transition(all .3s, padding 0);
  @include user-select(none);
  z-index: 3;

  &.hide {
    opacity: 0;
  }

  &.show {
    opacity: 1;
  }
}

.yesterday-link, .detail-previous {
  left: 0;
  padding-left: 2rem;
  @include transform(translateX(0));

  &.hint {
    padding-right: 1rem;
    @include transform(translateX(-1rem));
  }
}

.tomorrow-link, .detail-next {
  padding-right: 2rem;
  right: 0;

  &.hint {
    padding-left: 1rem;
    @include transform(translateX(1rem));
  }
}

.activate-upper-nav, .activate-meta-nav {
  background: transparent;
  height: 10%;
  @include menu-cursor;
  @include position(absolute, 0px 0px 0 0px);
  @include transition(.3s);
  z-index: 3;
}

.activate-meta-nav {
  top: auto;
  bottom: 0px;
}

.deactivate-upper-nav, .deactivate-meta-nav {
  @include close-cursor;
  @include position(fixed, 30vh 0px 0px 0px);
  z-index: 4;
}

.deactivate-meta-nav {
  bottom: 30vh;
  top: 0px;
}

nav.meta {
  @include align-items(center);
  @include display(flex);
  height: 30vh;
  opacity: 0;
  @include position(absolute, 0 0 0px 0);
  @include transition;
  @include user-select(none);
  width: 100%;
  z-index: 1;

  &.processed {
    opacity: 1;
    z-index: 4;
  }

  a {
    color: #fff;
    @include display(flex);
    @include flex(1);
    @include flex-wrap(wrap);
    font-size: 3vh;
    padding: 4vh;
    text-decoration: none;

    &:hover {
      color: #fff;
    }

    i {
      display: inline;
      @include flex(1);
      line-height: 1.2;
    }

    .title {
      @include flex(4);
    }

    .low {
      color: rgb(170, 170, 245);
      margin-right: .2rem;
    }

    .high {
      color: rgb(250, 220, 60);
      margin-right: .2rem;
    }

    .condition {
      display: block;
      width: 100%;
    }
  }
}

.upper-nav {
  height: 30vh;
  opacity: 0;
  position: relative;
  @include transition;
  z-index: 1;

  &.processed {
    opacity: 1;
    z-index: 4;
  }

  nav.settings {
    @include position(absolute, 0px 0px 0 0);

    ol {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    li {
      display: inline-block;
    }

    a {
      color: #fff;
      display: block;
      opacity: .75;
      padding: 1rem .5rem;
      text-decoration: none;
      @include transition;

      &:hover {
        opacity: 1;
      }
    }
  }

  nav.calendar {
    @include align-items(center);
    @include display(flex);
    height: 21vh;
    overflow-x: scroll;
    @include position(absolute, 3rem 2rem 0 2rem);

    ol {
      list-style-type: none;
      margin: 0;
      padding: 0;
      white-space: nowrap;
    }

    li {
      color: #fff;
      display: inline-block;
      font-family: $serif;
      font-size: 4vh;
      padding: 0 .5rem;

      &.month {
        font-family: $sans;
        font-weight: 700;
      }
    }
  }
}
