.today-text {
  @include animation(today-intro 2s);
  @include animation-fill-mode(forwards);
  @include centered-text;
  @include user-select(none);
}

.yesterday-link, .tomorrow-link, .detail-previous, .detail-next {
  color: rgb(255, 255, 255);
  display: block;
  font: bold 2.5vw/9vw $sans;
  margin: -4.5vw 0 0;
  max-width: 40%;
  overflow: hidden;
  @include position(absolute, 50% 0 0 0);
  text-decoration: none;
  text-overflow: ellipsis;
  @include transition(all .3s, padding 0s);
  @include user-select(none);
  white-space: nowrap;
  z-index: 3;

  &.hide {
    opacity: 0;
  }

  &.show {
    opacity: 1;
  }
}
.yesterday-link, .detail-previous {
  left: 0;
  @include left-cursor;
  padding-left: 2rem;
  @include transform(translateX(0));

  &:hover {
    padding-right: 1rem;
    @include transform(translateX(-1rem));
  }
}
.tomorrow-link, .detail-next {
  padding-right: 2rem;
  right: 0;
  @include right-cursor;

  &:hover {
    padding-left: 1rem;
    @include transform(translateX(1rem));
  }
}
.detail-previous, .detail-next {
  font-weight: 300;
}

.activate-upper-nav, .activate-meta-nav {
  background: transparent;
  height: 10%;
  @include up-cursor;
  @include position(absolute, 0px 0px 0 0px);
  @include transition(.3s);
  z-index: 3;
}
.activate-meta-nav {
  top: auto;
  bottom: 0px;
  @include down-cursor;
}

.deactivate-upper-nav, .deactivate-meta-nav {
  @include close-cursor;
  @include position(fixed, 30vh 0px 0px 0px);
  z-index: 4;
}
.deactivate-meta-nav {
  bottom: 30vh;
  top: 0px;
}

nav.meta, .upper-nav {
  height: 30vh;
  opacity: 0;
  z-index: 1;
  @include user-select(none);
  @include transition;

  &.processed {
    opacity: 1;
    z-index: 4;

    .tilt-hint {
      opacity: 0;
    }
  }

  &.tilt-expose {
    opacity: 1;
    z-index: 1;
  }

  .tilt-hint {
    @include position(absolute, 0 460px 0px 460px);
    text-align: center;
    @include transition;

    span {
      color: #fff;
      line-height: 2.4rem;
    }
  }
}

nav.meta {
  @include align-items(center);
  @include display(flex);
  @include position(absolute, 0 0 0px 0);
  width: 100%;

  a {
    color: #fff;
    @include display(flex);
    @include flex(1);
    @include flex-wrap(wrap);
    font-size: 3vh;
    padding: 4vh;
    text-decoration: none;

    &:hover {
      color: #fff;
    }

    span {
      display: block;
      text-align: center;
      width: 100%;
    }

    .low, .high {
      display: inline-block;
      width: auto;
    }

    .low {
      color: rgb(170, 170, 245);
    }

    .high {
      color: rgb(250, 220, 60);
    }

    .condition {
      display: block;
      width: 100%;
    }
  }
}

.upper-nav {
  position: relative;

  .tilt-hint {
    top: 0px;
    bottom: auto;
  }

  nav.settings {
    @include position(absolute, 0px 0px 0 0);

    ol {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    li {
      display: inline-block;
    }

    a {
      color: #fff;
      display: block;
      line-height: 2.4rem;
      margin-right: 1rem;
      opacity: .75;
      text-decoration: none;
      @include transition;

      &:hover {
        opacity: 1;
      }
    }
  }

  nav.calendar {
    @include align-items(center);
    @include display(flex);
    height: 21vh;
    overflow-x: scroll;
    @include position(absolute, 3rem 2rem 0 2rem);

    ol {
      list-style-type: none;
      margin: 0;
      padding: 0;
      white-space: nowrap;
    }

    li {
      color: #fff;
      display: inline-block;
      font-family: $serif;
      font-size: 4vh;
      padding: 0 .5rem;

      &.month {
        font-family: $sans;
        font-weight: 700;
      }
    }
  }
}
