@include keyframes(map-loading) {
  0% {
    background-image: url(anonymous-map-1.png);
  }

  20% {
    background-image: url(anonymous-map-2.jpg);
  }

  40% {
    background-image: url(anonymous-map-3.jpg);
  }

  60% {
    background-image: url(anonymous-map-4.jpg);
  }

  80% {
    background-image: url(anonymous-map-5.jpg);
  }
}

@include keyframes(map-intro) {
  0% {
    opacity: 0;
    @include transform(scale3D(1.1, 1.1, 1));
    z-index: 1;
  }

  100% {
    opacity: 1;
    @include transform(scale3D(1, 1, 1));
    z-index: 1;
  }
}

@include keyframes(today-intro) {
  0% {
    opacity: 1;
    z-index: 2;
  }

  75% {
    opacity: 1;
  }

  99% {
    opacity: 0;
    z-index: 2;
  }

  100% {
    opacity: 0;
    z-index: -1;
  }
}

@include keyframes(hide-account-nav) {
  0% {
    @include transform(translateY(0));
  }

  100% {
    @include transform(translateY(80%));
  }
}

@include keyframes(fade-in) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
