body {
  background-color: $background-color;
  font-family: $sans;
  margin: 0;
  overflow: hidden;
  padding: 0;
  @include perspective($perspective-amount);
  @include position(absolute, 0px 0px 0px 0px);
  text-rendering: optimizelegibility;
}

a, a:hover, a:visited {
  color: inherit;
}

.flash {
  background: rgba(255, 255, 255, .5);
  height: 3rem;
  line-height: 3rem;
  @include position(absolute, 0px 0 0 0);
  text-align: center;
  white-space: no-wrap;
  width: 100%;
  z-index: 3;
}
