.map {
  @include position(absolute, 0px 0px 0px 0px);
  @include transition(.3s);
  width: 100%;
  z-index: 1;
}

.today {
  @include animation(today-intro 2s);
  @include animation-fill-mode(forwards);
  @include centered-text;
  @include user-select(none);
}

.yesterday, .tomorrow {
  color: rgb(255, 255, 255);
  display: block;
  font: bold 2.5vw/9vw sans-serif;
  margin: -4.5vw 0 0;
  @include position(absolute, 50% 0 0 0);
  text-decoration: none;
  @include transition(.3s);
  @include user-select(none);
  z-index: 3;
}

.yesterday {
  left: 2rem;

  &:hover {
    left: 1rem;

    &+ .map {
      left: 8rem;
      right: -8rem;
    }
  }
}

.tomorrow {
  right: 2rem;

  &:hover {
    right: 1rem;

    &+ .yesterday + .map {
      left: -8rem;
      right: 8rem;
    }
  }
}
