.map {
  @include position(absolute, 0px 0px 0px 0px);
  @include transform(translateX(0) translateY(0) scale(1));
  @include transition(.3s);
  width: 100%;
  z-index: 1;

  &.recessed {
    @include transform(scale(.9));
  }

  &.down {
    @include transform(scale(.9) translateY(50%));
  }
}

.today {
  @include animation(today-intro 2s);
  @include animation-fill-mode(forwards);
  @include centered-text;
  @include user-select(none);
}

.yesterday, .tomorrow {
  color: rgb(255, 255, 255);
  display: block;
  font: bold 2.5vw/9vw sans-serif;
  margin: -4.5vw 0 0;
  @include position(absolute, 50% 0 0 0);
  text-decoration: none;
  @include transition(.3s);
  @include user-select(none);
  z-index: 3;
}

.yesterday {
  left: 2rem;
  @include transform(translateX(0));

  &:hover {
    @include transform(translateX(-1rem));

    &+ .activate-meta-nav + .map {
      @include transform(translateX(8rem));
    }
  }
}

.tomorrow {
  right: 2rem;

  &:hover {
    @include transform(translateX(1rem));

    &+ .yesterday + .activate-meta-nav + .map {
      @include transform(translateX(-8rem));
    }
  }
}

.activate-meta-nav {
  background: #ccc;
  cursor: pointer;
  display: block;
  height: 10%;
  @include position(absolute, 0px 0px 0 0px);
  @include transform(translateY(-50%));
  @include transition(.3s);
  z-index: 3;

  &:hover {
    @include transform(translateY(0%));

    &+ .map {
      @include transform(translateY(5%));
    }
  }

  &.invisible {
    opacity: 0;
  }
}

nav.meta {
  @include align-items(center);
  @include display(flex);
  height: 50vh;
  z-index: 1;

  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  li {
    display: block;
    text-align: center;
    width: 100%;
  }

  a {
    color: #666;
    display: block;
    font-size: 4vh;
    font-weight: bold;
    padding: 1vh 0;
    text-decoration: none;
  }
}

div.meta {
  @include align-items(center);
  @include display(flex);
  opacity: 0;
  @include position(absolute, 0px 0px 0px 0px);
  z-index: -1;

  &.processed {
    z-index: 4;
    opacity: 1;
  }  

  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: block;
    float: left;
    width: 33.33%;

    img {
      display: block;
      max-width: 100%;
    }
  }
}

.journal {
  background: rgba(0, 0, 0, .2);
  color: #fff;
  padding: 0 20%;

  p + p {
    text-indent: 1em;
  }
}
