.map {
  @include position(absolute, 0px 0 0px 0);
  width: 100%;
  z-index: 1;
}

.today {
  @include animation(today-intro 2s);
  @include animation-fill-mode(forwards);
  @include centered-text;
}

.yesterday, .tomorrow {
  color: rgb(255, 255, 255);
  display: block;
  font: bold 2.5vw/9vw sans-serif;
  @include position(absolute, 35vh 0 0 2rem);
  text-decoration: none;
  z-index: 2;
}

.tomorrow {
  left: auto;
  right: 2rem;
}
