%button {
  background: #fff;
  border: 0;
  box-sizing: border-box;
  color: #000;
  display: block;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
}

%pseudo-complete-check {
  &:before {
    background: url(check.svg) $positive-color center center no-repeat;
    background-size: .9rem;
    border-radius: 100%;
    box-sizing: border-box;
    color: #fff;
    content: '';
    display: block;
    height: 1.5rem;
    @include position(absolute, 0 0 0 1rem);
    text-align: center;
    width: 1.5rem;
  }
}

@mixin content-box {
  margin: 0 auto;
  position: relative;
  top: 10vh;
  width: 320px;
  z-index: 2;
}

@mixin centered-text {
  color: rgb(255, 255, 255);
  display: block;
  font: bold 10vw/1 sans-serif;
  letter-spacing: 5px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 32vh;
  z-index: 2;
}
