%button {
  background: #fff;
  border: 0;
  box-sizing: border-box;
  color: #000;
  display: block;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
}

%pseudo-incomplete-icon {
  &:before {
    background-size: .9rem;
    border: 2px solid #000;
    border-radius: 100%;
    box-sizing: border-box;
    content: '';
    display: block;
    height: 1.5rem;
    @include position(absolute, 0 0 0 1rem);
    text-align: center;
    width: 1.5rem;
  }
}

%pseudo-complete-check {
  &:before {
    background: url(check.svg) $positive-color center center no-repeat;
    background-size: .9rem;
    border: 2px solid $positive-color;
    border-radius: 100%;
    box-sizing: border-box;
    color: #fff;
    content: '';
    display: block;
    height: 1.5rem;
    @include position(absolute, 0 0 0 1rem);
    text-align: center;
    width: 1.5rem;
  }
}

@mixin content-box {
  margin: 0 auto;
  position: relative;
  top: 10vh;
  width: 320px;
  z-index: 2;
}

@mixin centered-text {
  color: rgb(255, 255, 255);
  display: block;
  font: bold 9vw/1 $serif;
  margin: -4.5vw 0 0;
  @include position(absolute, 50% 0px 0 0px);
  text-align: center;
  text-shadow: 0 0 100px rgba(0, 0, 0, .2);
  z-index: 2;
}

@mixin close-cursor {
  cursor: url('close-cursor.svg') 15 10, pointer;
}

@mixin menu-cursor {
  cursor: url('menu-cursor.svg') 15 10, pointer;
}
