.logo-screen, .features, .sign-up-flow {
  @include align-items(center);
  @include display(flex);
  @include flex-wrap(wrap);
  opacity: 0;
  @include position(absolute, 0px 0px 0px 0px);
  @include transition;
  z-index: -1;

  &.active {
    opacity: 1;
    z-index: 1;
  }

  h1 {
    color: #fff;
    font-family: $serif;
    font-size: 10vh;
    text-align: center;
    @include user-select(none);
    width: 100%;
  }

  a {
    border: 2px solid #000;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 3vh;
    font-weight: 400;
    margin: 0 auto;
    padding: 2rem;
    text-decoration: none;
  }
}

.features {
  span {
    display: block;
    padding: 0 25vw;
    color: #fff;
    font-size: 3vh;
    width: 100%;
  }
}

.sign-up-flow {
  .connections {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 35%;

    li {
      @include align-items(center);
      background: #eee;
      border-radius: 5px;
      @include display(flex);
      margin: 1rem 0 0 0;
      padding: 1rem;
    }
  }

  .success {
    background: #eee;
    border-radius: 5px 0 0 5px;
    color: #000;
    display: none;
    height: 250px;
    padding: 0 4rem;
    @include position(absolute, 0px 0px 0 0);
    text-decoration: none;

    span {
      line-height: 250px;
    }
  }
}
