.logo-screen {
  @include align-items(center);
  background: #111;
  @include display(flex);
  height: 100vh;
  position: relative;
  @include radial-gradient(#444, #222);

  h1 {
    color: #fff;
    font-family: $serif;
    font-size: 10vh;
    text-align: center;
    @include user-select(none);
    width: 100%;
  }
}

.features {
  padding: 6rem 0;

  h1, h4, blockquote {
    color: #222;
    font-size: 5vh;
    font-weight: normal;
    margin: 3rem 0;
    max-width: 70%;
  }

  h1 {
    font-size: 7vh;
    font-weight: bold;
    letter-spacing: 5px;
    margin-left: 20%;
    text-transform: uppercase;
  }

  h4:first-of-type {
    margin-left: 10%;
  }

  h4:last-of-type {
    margin-left: 20%;
  }

  blockquote {
    font-style: italic;
    margin-left: 20%;

    &:first-letter {
      margin-left: -.75rem;
    }
  }

  .apps {
    @include display(flex);
    list-style-type: none;
    margin: 3rem 10% 0 10%;
    padding: 0;

    li {
      @include flex(1 auto);
      text-align: center;

      img {
        display: block;
        margin: auto;
        width: 50px;
      }
    }
  }
}

.sign-up-flow {
  padding-bottom: 6rem;
  position: relative;

  form {
    @include align-items(center);
    background: #eee;
    border-radius: 5px;
    @include display(flex);
    @include flex-wrap(wrap);
    height: 250px;
    margin: auto;
    padding: 2rem;
    width: 35%;

    input {
      border: 1px solid #999;
      border-radius: 5px;
      display: block;
      margin: 0 0 1rem;
      padding: 1rem;
      text-align: center;
      width: 100%;

      &:last-of-type {
        margin: 0;
      }
    }

    input[type=button] {
      background: #ff6600;
      border: 0;
      color: #fff;
    }

    .confirm {
      display: none;
      font-size: 1.5rem;
      text-align: center;
    }
  }

  .connections {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 35%;

    li {
      @include align-items(center);
      background: #eee;
      border-radius: 5px;
      @include display(flex);
      margin: 1rem 0 0 0;
      padding: 1rem;

      span {
        margin: 0 0 0 2rem;
        vertical-align: center;
      }

      img {
        width: 50px;
      }
    }
  }

  .success {
    background: #eee;
    border-radius: 5px 0 0 5px;
    color: #000;
    display: none;
    height: 250px;
    padding: 0 4rem;
    @include position(absolute, 0px 0px 0 0);
    text-decoration: none;

    span {
      line-height: 250px;
    }
  }
}
