.view-map {
  @include centered-text;
  text-decoration: none;
}

.authorized-apps {
  @include content-box;
  top: 40vh;

  .app-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      @extend %pseudo-incomplete-icon;
      background: rgba(255, 255, 255, .5);
      border-bottom: 2px solid #fff;
      display: block;
      line-height: 1.5rem;
      padding: 1rem 1rem 1rem 3rem;

      &:last-child {
        border-bottom: 0;
      }

      &.complete {
        @extend %pseudo-complete-check;
      }
    }

    a {
      color: #000;
      display: block;
      text-decoration: none;
    }
  }
}
