.app-list {
  @include content-box;

  li {
    background: rgba(255, 255, 255, .5);
    display: block;
    line-height: 1.5rem;
    margin-bottom: .5rem;
    padding: 1rem 1rem 1rem 3rem;

    &:last-child {
      margin-bottom: 0;
    }

    &.incomplete {
      @extend %pseudo-incomplete-icon;
    }
    
    &.complete {
      @extend %pseudo-complete-check;
    }
  }

  a {
    display: block;
    text-decoration: none;
  }
}
