// contains weights 400, 700
$serif: 'Mercury SSm A', 'Mercury SSm B';

// contains weights 300, 400, 700, 800
$sans: 'Gotham SSm A', 'Gotham SSm B';

$positive-color: rgb(52, 230, 100);
$negative-color: rgb(230, 52, 52);
$building-color: rgb(217,204,190);
$ground-color: #e8e0d8;

$perspective-amount: 1000px;
