.confirm-fields
  %p Make sure the data is correctly labeled

  %table
    %tr
      %th Label
      %th Data
    - @csv.first.each_with_index do |field, index|
      %tr
        %td= @field_names[index]
        %td.field= field

  = link_to 'Confirm', '#', class: 'confirm'
