.upload-texts
  %h2 Upload texts
  %p Your texts should be in a CSV file that looks something like this:
  %pre
    "Sent","Dec 1, 2000 3:00:00 PM","John Doe","+15555555555","What are you up to?"
    "Received","Dec 1, 2000 3:01:00 PM","Jane Doe","+15555555555","Just trying out Keepsakes"

  %p
    = link_to "PhoneView", 'http://www.ecamm.com/mac/phoneview'
    will export your texts if you're on iOS
  = render :partial => '/texts/form'
